/* Add your own styles */

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    height: auto;
    padding: 20px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4A5568;
    color: white;
    margin-bottom: 50px;
}

header::before {
    background-image: url(worldpicture.png);
    background-size: 150px 150px;
    display: inline-block;
    width: 150px;
    height: 150px;
    content: "";
}

#controls {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#country,
#lookup,
#lookupcities {
    margin: 5px 5px;
}

#controls label {
    display: none;
}

#controls input {
    display: block;
    width: 350px;
    height: auto;
    padding: 10px 10px;
    border-radius: 5px 5px;
    border: 1px solid #E2E5E9;
}

#lookup {
    background-color: #38B2AC;
    color: white;
    border-radius: 5px 5px;
    padding: 10px 10px;
    border: none;
    cursor: pointer;
}

#lookup:hover {
    background-color: #38ede4;
}

#lookupcities {
    background-color: #4299E1;
    color: white;
    border-radius: 5px 5px;
    padding: 10px 10px;
    border: none;
    cursor: pointer;
}

#lookupcities:hover {
    background-color: #0e8ff8;
}

header h1 {
    font-size: 3rem;
    font-weight: bold;
}

#result {
    margin-top: 50px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li {
    font-size: 1.2rem;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 80%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
}

td {
    font-size: 1rem;
    font-weight: normal;
    text-align: center;
}

tr:nth-child(even) {
    background-color: #dddddd;
}